<div class="tabla_inmunostoquimica_container">
    <table class="tabla_inmunostoquimica">
        <thead class="tabla_inmunostoquimica_header">
            <tr>
                <th class="tabla_inmunostoquimica_header_item">Estudio</th>
                <th class="tabla_inmunostoquimica_header_item">Resultados</th>
                <th class="tabla_inmunostoquimica_header_item">Interpretación</th>
                <td class="datos_estudio_table_item"><strong>Muestra Recibida:</strong> {{ muestra_recibida }}</td>
            </tr>
        </thead>
        <tbody class="tabla_inmunostoquimica_body">
            {% for resultado in resultados_inmunostoquimica %}
                <tr>
                    <td class="tabla_inmunostoquimica_body_item">{{ resultado.procedimiento }}</td>
                    <td class="tabla_inmunostoquimica_body_item">{{ resultado.reaccion }}</td>
                    <td class="tabla_inmunostoquimica_body_item">{{ resultado.diagnostico_observaciones }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="body_regular_container">
    {% if informe.notas %}
    <div class="titulo_seccion"><h4 class="titulo_seccion_texto">Notas</h4></div>
        <div class="cuerpo_seccion">{{ informe.notas }}</div>
    {% endif %}

    {% if informe.bibliografia %}
    <div class="titulo_seccion"><h4 class="titulo_seccion_texto">Bibliografía</h4></div>
        <div class="cuerpo_seccion">{{ informe.bibliografia }}</div>

    {% endif %}
</div>